
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="/static/style.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- <script src="/static/script.js"></script> --> 

        <title>*** Tchat ***</title>
        

    </head>
    <body>
        <div id="app">

            <nav class="navbar navbar-expand-sm bg-light justify-content-center">
                <h2>Salon</h2>
            </nav>

            <div class="row">
                <div class="col-md-6" style="text-align: center;"><h1>Username : </h1></div>
                <div class="col-md-6" style="text-align: center;"><h1>{{request.user}}</h1></div>
            </div><br>

            <div class="card-columns container">
                
                {% for sal in salon %}
                    <div style="height: 76px;" class="card bg-primary">
                        <div class="card-body text-center">
                        <button class="activate" v-on:click="connect('{{sal.nom}}')"><a href="#"><h1 style="color: rgb(53, 5, 49);">{{sal.nom}}</h1></a></button>
                        </div>
                    </div>
                {% endfor %}
                    
                
            </div>
            <div class="container">
                <div style="height: 56px;" class="card bg-warning">
                    <h3 style="text-align: center;"> Ajouter un salon</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" v-model="nomsal" class="form-control" placeholder="Enter le nom du salon" id="email">
                                </div>
                                <div class="col-md-6">
                                    <button v-on:click="sendsalon" type="submit" class="btn btn-outline-secondary">Send</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr><br><br>

            <div style="width: 1200px; height: 700px;" class="col-sm-3 col-sm-offset-4 frame">
                <ul>
                    <li v-for='item in reponse' style="width:100%">
                    {% if user == request.user %}
                        <div class="msj macro">
                        <div class="avatar"><img class="img-circle" style="width:100%;" src="{{profile.image.url}}" /></div>
                            <div class="text text-l">
                                <p>${item.mes}</p>
                                <p><small>'+date+'</small></p>
                            </div>
                        </div>
                    {% else %}
                        <div class="msj-rta macro">
                            <div class="text text-r">
                                <p>${item.mes}p>
                                <p><small>'+date+'</small></p>
                            </div>
                        <div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" /></div>
                    {% endif %}
                    </li>

                  
                </ul>
                <div>
                    <div class="msj-rta macro">                        
                        <div class="text text-r" style="background:rgb(24, 2, 22) !important">
                            <input v-model="message" class="mytext" placeholder="Type a message"/>
                        </div> 

                    </div>
                    <div style="padding:10px;">
                        <button v-on:click="sendmessage" type="button" class="btn btn-primary">Send</button>
                    </div>                
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/reconnecting-websocket@4.1.10/dist/reconnecting-websocket-cjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-websocket@0.2.3/dist/vue-websocket.min.js"></script>
        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    message: "",
                    reponse: [],
                    username:"{{request.user.id}}",
                    nomsal: "",
                    salonN: ""
                },
                delimiters: ["${", "}"],
                mounted: function() {
                    this.connect()
                },
                methods: {
                
                    connect(salon) {
                        
                        roomName = salon
                        console.log(roomName)
                        this.socket = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + roomName + '/');
                        this.socket.onopen = () => {
                            this.status = "connected";
                            console.log("connecte")
                            
                            this.socket.onmessage = ({data}) => {
                                
                            //Recuperation message 
                            wsdata = JSON.parse(data)
                            console.log(wsdata.message.mes)
                            console.log(wsdata.message.user)
                            this.reponse.push(wsdata.message)    
                            console.log(this.reponse)

                            axios.defaults.xsrfCookieName = 'csrftoken'
                            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                            axios.post('http://127.0.0.1:8000/post_message', {
                            
                            message: wsdata.message.mes,
                            username: wsdata.message.user,
                            salonN: salon,
                            
                            
                            
                            }).then(response => {
                                
                                this.codesend = true
                                this.result= response.data
                                console.log(result,'+++++++++++++++++++++++++++++++++++++++++++')
                            })
                            .catch((err) => {
                                    
                                    this.codesend = true
                                    this.result['reponse'] = "Probleme de connexion , veuillez contactez l'administrateur"
                                    this.result['succes'] = false
                            })
                            
                            };
                            
                        };
                        
                        
                    },
                    disconnect() {
                        this.socket.close();
                        
                        console.log("deconnecte")
                    },
                    
                    
                    sendmessage: function(){
                        data = {
                            'message':{ 
                                'mes':this.message,
                                'user':this.username 
                            },
                            //messages: "",
                            //user: "{{request.user}}"
                        }
                        this.socket.send(JSON.stringify(data));
                        
                        console.log(data, '..............................................');
                        
                        
                    },

                    sendsalon: function(){
                        data = {
                            nomsal: "",
                        }
                        
                        axios.defaults.xsrfCookieName = 'csrftoken'
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                        axios.post('http://127.0.0.1:8000/post_salon', {
                        nomsal: nomsal  
                        }).then(response => {
                            this.codesend = true
                            this.result= response.data
                            console.log(result)
                        })
                        .catch((err) => {
                                this.codesend = true
                                this.result['reponse'] = "Probleme de connexion , veuillez contactez l'administrateur"
                                this.result['succes'] = false
                        })
                    },

                    updateAdmin: function(){
                        
                        this.socket.send(JSON.stringify({ 'message':"code send succes", 'admin':this.admin, 'code':this.codedep }));

                    },
                    
                    
                }
    });
        </script>
       
    </body>
</html>
