
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="/static/style.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/static/script.js"></script>

        <title>*** Tchat ***</title>
    </head>
    <body>
        <div>
            <div style="width: 1200px; height: 700px;" class="col-sm-3 col-sm-offset-4 frame">
                <ul></ul>
                <div>
                    <div class="msj-rta macro">                        
                        <div class="text text-r" style="background:rgb(24, 2, 22) !important">
                            <input class="mytext" style="background:rgb(197, 136, 192) placeholder="Type a message"/>
                        </div> 

                    </div>
                    <div style="padding:10px;">
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>                
                </div>
            </div>
        </div>
               
    </body>
</html>
